* {
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(88, 88, 88);
    color: white;
}
img {
    width: 500px;
    height: auto;
}

ul {
    list-style: square;

}

p {
    
    width: 500px;
}

h1 {
    text-align: center;
}
h1 > a {
    text-decoration: none;
    color: #FFFFFF;
}

h2 {
    position: relative;
    left:  60px;
}
.recipe-card, .summary {
    
    border: thin solid rgb(0, 0, 0);
    padding: 20px;
}

.recipe-card{
    background-color: rgb(112, 81, 44);
    color: blanchedalmond;
}

.summary {
    background-color: blanchedalmond;
    color: rgb(112, 81, 44);
}

nav {
    text-align: center;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
    border: thick double tan ;
}

.current-page {
    background-color: lightgrey;
    color: rgb(88, 88, 88);
}